[Unit]
Description=Shadowsocksr Node Service
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bash /root/shadowsocks/run.sh
ExecStop=/usr/bin/bash /root/shadowsocks/stop.sh
Restart=always
LimitNOFILE=512000

[Install]
WantedBy=multi-user.target
